asgiref==3.4.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
distlib==0.3.3
Django==3.2.9
djangorestframework==3.11.2
Markdown==3.2.1
django-filter==2.4.0
django-cors-headers==3.10.0
filelock==3.3.2
pipenv==2021.11.9
platformdirs==2.4.0
protobuf==3.17.3
psycopg2==2.9.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
virtualenv==20.10.0
virtualenv-clone==0.5.7